.mediaViewInfo {
    --web-view-name: Journal;
    --web-view-id: Journal;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
:root {
    --web-view-ids: Journal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
#Journal {
    position: absolute;
    width: 1920px;
    height: 1080px;
    background-color: rgba(241,217,217,1);
    overflow: hidden;
    --web-view-name: Journal;
    --web-view-id: Journal;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}

#Text_Background {
    fill: rgba(255,255,255,1);
}
.Text_Background {
    position: absolute;
    overflow: visible;
    width: 787px;
    height: 979px;
    left: -1px;
    top: 101px;
}
#Footer {
    position: absolute;
    width: 1920px;
    height: 71px;
    left: 0px;
    top: 1009px;
    overflow: visible;
}
#Footer_n {
    fill: rgba(69,36,60,1);
}
.Footer_n {
    overflow: visible;
    position: absolute;
    width: 1920px;
    height: 71px;
    transform: translate(0px, -1009px) matrix(1,0,0,1,0,1009) rotate(0deg);
    transform-origin: center;
    left: 0px;
    top: 0px;
}
#Copyright {
    left: 26px;
    top: 18px;
    position: absolute;
    overflow: visible;
    width: 452px;
    height: 44px;
    text-align: left;
    font-family: Gill Sans MT;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(255,255,255,1);
}
#Contact {
    left: 1773px;
    top: 14px;
    position: absolute;
    overflow: visible;
    width: 111px;
    height: 44px;
    text-align: left;
    font-family: Gill Sans MT;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(255,255,255,1);
}
#Help {
    left: 1679px;
    top: 14px;
    position: absolute;
    overflow: visible;
    width: 111px;
    height: 44px;
    text-align: left;
    font-family: Gill Sans MT;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(255,255,255,1);
}
#n_99-999-9999 {
    left: 1495px;
    top: 14px;
    position: absolute;
    overflow: visible;
    width: 197px;
    height: 44px;
    text-align: left;
    font-family: Gill Sans MT;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(255,255,255,1);
}
#Journal_s {
    left: 187px;
    top: 182px;
    position: absolute;
    overflow: visible;
    width: 495px;
    white-space: nowrap;
    text-align: left;
    font-family: Rockwell;
    font-style: normal;
    font-weight: normal;
    font-size: 150px;
    color: rgba(63,38,61,1);
}
#About_Us {
    left: 370px;
    top: 123px;
    position: absolute;
    overflow: visible;
    width: 127px;
    height: 39px;
    --web-animation: fadein undefineds undefined;
    --web-action-type: page;
    --web-action-target: About_Us.html;
    cursor: pointer;
    text-align: left;
    font-family: Rockwell;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgba(52,34,59,1);
}
#Journal_u {
    left: 643px;
    top: 120.5px;
    position: absolute;
    overflow: visible;
    width: 111px;
    height: 59px;
    text-align: left;
    font-family: Rockwell;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgba(52,34,59,1);
}
#Chatbot {
    left: 903px;
    top: 123px;
    position: absolute;
    overflow: visible;
    width: 116px;
    height: 59px;
    --web-animation: fadein undefineds undefined;
    --web-action-type: page;
    --web-action-target: Chatbot_.html;
    cursor: pointer;
    text-align: left;
    font-family: Rockwell;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgba(52,34,59,1);
}
#Game {
    left: 1181px;
    top: 123px;
    position: absolute;
    overflow: visible;
    width: 93px;
    height: 59px;
    --web-animation: fadein undefineds undefined;
    --web-action-type: page;
    --web-action-target: Game.html;
    cursor: pointer;
    text-align: left;
    font-family: Rockwell;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgba(52,34,59,1);
}
#Divider {
    fill: transparent;
    stroke: rgba(0,0,0,1);
    stroke-width: 5px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Divider {
    overflow: visible;
    position: absolute;
    width: 5px;
    height: 42px;
    left: 558.5px;
    top: 120.5px;
    transform: matrix(1,0,0,1,0,0);
}
#Divider_y {
    fill: transparent;
    stroke: rgba(0,0,0,1);
    stroke-width: 5px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Divider_y {
    overflow: visible;
    position: absolute;
    width: 5px;
    height: 42px;
    left: 815.5px;
    top: 120.5px;
    transform: matrix(1,0,0,1,0,0);
}
#Divider_z {
    fill: transparent;
    stroke: rgba(0,0,0,1);
    stroke-width: 5px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Divider_z {
    overflow: visible;
    position: absolute;
    width: 5px;
    height: 42px;
    left: 1099.5px;
    top: 120.5px;
    transform: matrix(1,0,0,1,0,0);
}
#Divider_ {
    fill: transparent;
    stroke: rgba(0,0,0,1);
    stroke-width: 5px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Divider_ {
    overflow: visible;
    position: absolute;
    width: 5px;
    height: 42px;
    left: 1338.5px;
    top: 120.5px;
    transform: matrix(1,0,0,1,0,0);
}
#Resources {
    left: 1401px;
    top: 123px;
    position: absolute;
    overflow: visible;
    width: 148px;
    height: 59px;
    --web-animation: fadein undefineds undefined;
    --web-action-type: page;
    --web-action-target: Resources.html;
    cursor: pointer;
    text-align: left;
    font-family: Rockwell;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgba(52,34,59,1);
}
#Header {
    position: absolute;
    width: 1920px;
    height: 120px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Nav-Bar {
    fill: rgba(63,38,61,1);
}
.Nav-Bar {
    overflow: visible;
    position: absolute;
    width: 1920px;
    height: 101px;
    transform: translate(0px, 0px) matrix(1,0,0,1,0,0) rotate(0deg);
    transform-origin: center;
    left: 0px;
    top: 0px;
}
#Logo {
    position: absolute;
    width: 94px;
    height: 101px;
    left: 26px;
    top: 0px;
    overflow: visible;
    --web-animation: fadein undefineds undefined;
    --web-action-type: page;
    --web-action-target: Homepage.html;
    cursor: pointer;
}
#Search {
    fill: rgba(255,255,255,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Search {
    position: absolute;
    overflow: visible;
    width: 324px;
    height: 48px;
    left: 1534px;
    top: 27px;
}
#Title {
    left: 622px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 790px;
    height: 120px;
    text-align: left;
    font-family: Footlight MT;
    font-style: normal;
    font-weight: lighter;
    font-size: 85px;
    color: rgba(255,255,255,1);
}
.embed{
    float: right;
    margin-top: 12%;
    margin-right: 8%; 
    margin-left: 200px;
  }
  