.menu a
{
  background-color: #3f263d;
  float: left;
  padding: 12px;
  width: 30%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  transition-duration: 0.4s;
  text-decoration: none;
}
hr
{
  height: 5px;
  color: #000000;
  background-color: #3f263d;
  border: none;
}
.menu a:hover
{
  background-color: #00bac7;
  color: #ffffff;
  border-radius: 10px;
}
.menu
{
  background-color: #f1d9d9;
  overflow: hidden;
  border-radius: 10px;
}
body
{
  font-family: Arial;
  color: #3f263d;
}
h1, h3
{
  text-align: center;
}
.topArea
{
  font-size: 20px;
  color: #5d4a5f;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
/*   padding: 0 15vw 0 15vw;*/
}
a{
  background-color: #3f263d;
  color: white;
  padding: 16px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 26px;
  margin: 2px 0;
  cursor: pointer;
  border-radius: 12px;
  width: 12em;
  justify-content: space-evenly;
}
.bod
{
  font-size: 20px;
}